{% extends "base.html" %}

{% block main %}



<!DOCTYPE html>
<html>
<head>
	<title>Cadastro de pontos do cartão de crédito - Loja de prêmios</title>
</head>
<body>
	<h1>Loja de prêmios</h1>
	<p>Aqui estão os itens que você pode trocar por pontos:</p>
	<ul>
		<li>iPhone 12 - 150.000 pontos</li>
		<li>Smart TV 55" 4K - 200.000 pontos</li>
		<li>Passagem aérea para Nova York - 100.000 pontos</li>
		<li>Diária em resort all-inclusive no nordeste - 80.000 pontos</li>
		<li>Ingressos para o show do Coldplay - 50.000 pontos</li>
		<li>Perfume importado - 20.000 pontos</li>
		<li>Jogo de panelas Tramontina - 10.000 pontos</li>
		<li>Vale-compras de R$ 200 na loja X - 5.000 pontos</li>
	</ul>
	<p><a href="/">Voltar para a página inicial</a></p>
</body>
</html>

{% endblock %}